<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de estudiantes</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#"> Control de estudiantes</a>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/estudiantes}">Control de estudiantes</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<h1>Lista de estudiantes</h1>
		</div>
		<div class="row">
		   <div class="col-lg-3">
		     <a th:href="@{/estudiantes/nuevo}" class="btn btn-primary btn-sm mb3">Agregar estudiante</a>
		   </div>
		</div>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante : ${estudiantes}">
					<td th:text="${estudiante.nombre}">Nombre</td>
					<td th:text="${estudiante.apellido}">Apellido</td>
					<td th:text="${estudiante.email}">Email</td>
					<td>
					  <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" class="btn btn-info">Editar</a>
					  <a th:href="@{/estudiantes/{id}(id=${estudiante.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>